@tailwind base;
@tailwind components;
@tailwind utilities;

.dark-mode body {
  background: linear-gradient(90deg, rgba(124,25,48,1) 46%, rgba(154,39,65,1) 95%);
  color: #f17997;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height:100vh;
}

.dark-mode p {
  color: #FFFFFF;
}

.light-mode body {
  color: rgb(187, 50, 76);
}

.light-mode p {
  color: #190101;
}

*,
*:before,
*:after {
  @apply cursor-default;
}


