@tailwind base;
@tailwind components;
@tailwind utilities;

.dark-mode body {
  background: linear-gradient(90deg, rgba(124,25,48,1) 46%, rgba(154,39,65,1) 95%);
  color: #f17997;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height:100vh;
}

.light-mode .card:hover {
  transform: translateY(-20px);
  box-shadow: 0 10px 40px rgba(0,0,0,0.4);
  background: linear-gradient(196deg, rgba(240,196,206,1) 22%, rgba(227,107,135,1));
}

.dark-mode .card:hover {
  transform: translateY(-20px);
  box-shadow: 0 10px 40px rgba(0,0,0,0.4);
  background: linear-gradient(196deg, rgba(196,98,121,1) 12%, rgba(166,45,72,1) 50%, rgba(121,26,48,1) 90%);
}

.dark-mode .card:hover h3{
  color:#FFFFFF;
}
.dark-mode .card:hover p{
  color:#FFFFFF;
}
.dark-mode .card:hover h5{
  color:#FFFFFF;
}


.dark-mode p {
  color: #FFFFFF;
}

.light-mode body {
  color: rgb(187, 50, 76);
}

.light-mode p {
  color: #190101;
}

*,
*:before,
*:after {
  @apply cursor-default;
}

p::selection {
  background: rgba(187,49,75,1);
  color: white;
  text-shadow: 1px 1px #000;
}

h1::selection {
  background: rgba(187,49,75,1);
  color: white;
  text-shadow: 1px 1px #fff;
}

h2::selection {
  background: rgba(187,49,75,1);
  color: white;
  text-shadow: 1px 1px #fff;
}

h3::selection {
  background: rgba(187,49,75,1);
  color: white;
  text-shadow: 1px 1px #fff;
}

h4::selection {
  background: rgba(187,49,75,1);
  color: white;
  text-shadow: 1px 1px #fff;
}

a::selection {
  background: rgba(187,49,75,1);
  color: white;
  text-shadow: 1px 1px #fff;
}



