@tailwind base;
@tailwind components;
@tailwind utilities;

 body {
   background-color: #fff;
   color: rgba(0,0,0,0.8);
 }
.dark-mode body {
  background-color: #091a28;
  color: #FFFFFF;
}
.light-mode body {
  background-color: #FFFFFF;
  color: #000000;
}
